{% extends "base.twig" %}
{% block content %}

	<article class="small-12 column">

		<h2>404</h2>

		<p>The gist you're looking for doesn't exist yet. Why not create it?</p>

	</article>

{% endblock %}